<div class="d-flex justify-contents-center flex-column mx-auto col-lg-4">
  <h3>All users</h3>
  <div *ngFor="let user of users" class="user container p-1 m-1">
    <div class="row row-cols-2">
      <div class="col col-2">
        <img class="img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" width="100%">
      </div>
      <div class="col-10">
        <div class="tweet-author-info">
          <span class="tweet-author">{{user.displayName}}</span>
          <span class="tweet-author-handle ml-2">@{{user.userName}}</span>
        </div>
        <button *ngIf="!isAlreadyFollowed(user.userId)" class="btn btn-primary follow-btn" (click)="follow(user.userId)">Follow</button>
        <button *ngIf="isAlreadyFollowed(user.userId)" class="btn btn-warning unfollow-btn" (click)="unfollow(user.userId)">Unfollow</button>
      </div>
    </div>
  </div>
</div>
