<div class="register d-flex justify-content-center flex-column col-lg-5 mx-auto">
  <form class="form" *ngIf="!success" (ngSubmit)="register()" #frm=ngForm action="">
      <h2>Sign Up</h2>
      <div *ngIf="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>SignUp Failed !</strong> Invalid User Details
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="group form-group">
          <label for="displayName" class="form-label">Display Name</label>
          <input type="text" class="form-control" name="dname" id="displayName" autocomplete="off" [(ngModel)]="userDto.displayName" #displayName=ngModel>
      </div>
      <div class="group form-group">
          <label for="username" class="form-label">Username or Handle</label>
          <input type="text" class="form-control" name="uname" id="username" autocomplete="off" [(ngModel)]="userDto.userName" #uid=ngModel required pattern="[a-zA-Z0-9\-]*">
          <div *ngIf="uid.invalid && (uid.dirty || uid.touched)" class="alert alert-danger">
            <!-- <div *ngIf="name.errors?.['required']"> -->
                Username should contain letters, numbers or '-' 
            
        </div>
      </div>
      <div class="group form-group">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" name="email" id="email" autocomplete="off" [(ngModel)]="userDto.email" #mail=ngModel pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
      </div>
      <div class="group form-group">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="password" autocomplete="off" [(ngModel)]="userDto.password" #pass=ngModel required>
      </div>
      <div class="group form-group">
        <label for="confirmpassword" class="form-label">Re-enter Password</label>
          <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" autocomplete="off" placeholder="Confirm Password" [(ngModel)]="userDto.confirmpwd" required #cnfpwd="ngModel"><i class="bi bi-lock-fill"></i>
      </div>
      <div class="group">
          <input [disabled]=!frm.valid type="submit" class="btnn" value="CONTINUE">
      </div>
  </form>
  <p *ngIf="!success" class="para">Already have an account? <a routerLink="/login">Login</a></p>
  <div *ngIf="success" class="sucess  fade show" role="success">
      <strong> <h2> Registered Successfully! </h2></strong>
  </div>

</div>